{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
<form action="{{ url_for('change_password') }}" method="post">
    <fieldset>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="password" placeholder="Current password" type="password"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Re-type" type="password"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="new_password" placeholder="Enter new password" type="password"/>
        </div>
        <div class="form-group">
            <button class="btn btn-default" type="submit">Change</button>
        </div>
    </fieldset>
</form>
{% endblock %}
